<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "sample_app", '#', :id => "logo" %>
        <nav>
          <ul class="nav pull-right">
            <li><%=  link_to "home", home_path %></li>
            <li><%= link_to "help", help_path %> </li>
            <li><%= link_to "signin", '#' %> </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
